:root{
    --primary-color: #0f0f11;
    --second-color: #1a1a20;

    --third-color: #d8a641; 
    --fourth-color: #08080e;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Agency FB", sans-serif;
    box-sizing: border-box;
}

p{
    font-size: 20px;
}

body{
    background-color: var(--primary-color);
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 85%, var(--primary-color) 100%), 
    url('Images/OlegBg.png');
    background-size: cover;
    background-position: center;
}

#Name-title{
    font-size: 100px;
}

#Yellow-text{
    color: var( --third-color);
}




.container{
   padding: 10px 10%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo{
   width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 32px;
    position: relative;
}



nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: var(--third-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-bottom: 20px;

}

.header-text p{
    color: var(--third-color);
}

.header-title{
    width: 100%;
    height: 100%;
    display: flex;
}



/* --------About----------- */

#About{
    margin-top: 400px;
}

.About-me-section {
    background-color: var(--second-color);
    padding: 40px;
    width: auto;
    max-width: 1200px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    /* Initially hide the animation */
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 2s ease-in-out;
}

.About-me-section.p--visible {
    /* Triggered when the element is in view */
    transform: translateX(0);
    opacity: 1;  
}
.About-me-section p{
    margin-top: 20px;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);  /* Start off the screen to the left */
        opacity: 0;                    /* Start fully transparent */
    }
    100% {
        transform: translateX(0);      /* End at the original position */
        opacity: 1;                    /* Fully visible */
    }
}

/* --------Skills----------- */

#Skills{
    padding: 80px 0;
    margin: 50px auto; 
    width: 80%;
}

.Skills-columns{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:auto;
}



.skills-grid {
    display: flex;
    flex-wrap:wrap;
    grid-gap: 60px; /* The horizontal gap */
    align-items: baseline;
    justify-content: center;

    
}
 
.skill-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-color: var(--second-color);

    
    height: 200px;  /* Initial height */
    width: 200px;   /* Initial width */
    border-radius: 20px;
    overflow: hidden; /* Prevent content overflow during transition */
  

    transition: all 0.5s  ease; /* Ensure smooth transitions */
}
.skill-item:hover{
    background-color: var(--third-color);
    transform: translateY(-5px);
    color: var(--primary-color);
    cursor: pointer;
}

.skill-description{
    display: none;
}

.skill-item.active{
    padding: 40px;
    justify-content: flex-start;
    text-align: left;
    height: 400px; /* Height for active state */
    width: 400px;  /* Width for active state */
    border-radius: 20px;

    margin: 10px;

    overflow: hidden;
}
.skill-item.active .skill-description {
    display: block; /* Show the description when the skill-item is active */
}
.skill-item.active .Skill-learn-more {
     margin-top: 20px;
}


.skill-bar{
    font-size: 80px;
}

.skill-item h4{
    margin-top: 10px;
    font-size: 20px;
}


.skill-item img{
    width: 80px;;
}
/* --------Experiences----------- */

#Experiences{
    padding: 80px 0;
  
}

.Experience-section{
    background-color: var(--fourth-color);
    box-sizing: border-box; /* Ensures padding is included in the total width/height */
    box-shadow: rgba(0, 0, 0, 1) 0px 8px 24px;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline-item {
    margin: 20px 0;
    position: relative;
    padding-left: 50px; /* Adjust the padding to make space for the dot and line */
}



.timeline-content {
    display: flex;
    align-items: center;
    position: relative;

    margin-top: 30px;
}

.timeline-content::before {
    content: "";
    position: absolute;
    left: 0; /* Position the line on the left side of the content */
    top: 0;
    width: 4px; /* Thickness of the line */
    height: 100%; /* Full height of the content */
    background-color: var(--third-color); /* Color of the line */
}

.timeline-date {
    width: 80px;
    text-align: right;
    font-size: 24px;
    color: #fff;
    margin-left: 15px;
}

.timeline i{
    padding: 10px;
    font-size: 50px;
    margin-right: 15px;
    margin-left: 15px;
}

.timeline-info {
    background-color: var(--second-color);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
}

.timeline-info h3 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 10px;
}

.timeline-info h4 {
    color: var(--third-color);
    font-size: 18px;
    margin-bottom: 15px;
}

.timeline-info p {
    color: #ccc;
    line-height: 1.6;
}
/* --------Services----------- */



#Services{
    padding: 10px 0;
    margin-top: 40px;
}

.Services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.Services-list div{
    background-color: var(--second-color);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s, color 0.5s;
}

.Services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.Services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.Services-list div a{
 text-decoration: none;
 color: white;
 margin-top: 20px;
 display: inline-block;;
 font-size: 20px;
 transition: color 0.5s;
}

.Services-list div:hover{
    background: var(--third-color);
    transform: translateY(-10px);
    color: var(--primary-color);
}
.Services-list div:hover a {
    color: var(--primary-color);
}

/* --------Portfolio----------- */

#Portfolio{
    padding: 50px 0;
}

.Work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}



.Work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
   
}

.Work h1{
    margin-bottom: 30px;

}
.Work img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    display: block;
    object-fit: cover;
}

.Layer{
    width: 100%;
    height: auto;
    box-sizing: border-box;
   
}
.Layer h3{
     margin-top: 20px;
}
.Layer a{
    color: var(--third-color);
    display: inline-block;
    margin-top: 10px;
}


/* --------Contact----------- */

#Contact{
    background-color: var(--fourth-color);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;

    box-sizing: border-box; /* Ensures padding is included in the total width/height */
    box-shadow: rgb(0, 0, 0) 0px 8px 24px;
    
    z-index: 1000; 
}

.Contact-left {
    color: white;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    position: relative;
    text-align: center; /* Center text if needed */
}

.Contact-left::before,
.Contact-left::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%; /* Adjust the width of the lines */
    height: 1px; /* Line thickness */
    background-color: var(--third-color); /* Line color */
    transform: translateY(-50%); /* Center the lines vertically */
}

.Contact-left::before {
    left: 0;
}

.Contact-left::after {
    right: 0;
}

.Contact-left p a{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: color 0.2s;
}

.Contact-left p a:hover{
    color: var(--third-color);
}

.Social-icons a{
    color: var(--third-color);
    font-size: 30px;
    margin-top: 20px;
    display: inline-block;
    margin-right: 15px;

    transition: transform 0.1s, color 0.1s;
}

.Social-icons a:hover{
    color: white;
    transform: translateY(-2px);
}

.sub-title{
    font-size: 50px;
    margin-bottom: 30px;
}